@media (min-width: 1200px) {
#navbar {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top:15px;
        left:4%;
        width: 92%;
        height: 60px;
        background-color: #0a152b;
        z-index: 1000;
    }
#title_wrap {
    position: inherit;
    left: 6%;
    top: 27px;
    font-family: "Merriweather", serif;
    font-style: bold;
    font-size: 28px;
    margin-right: 200px;  
}
#title_wrap p1 {
    top: 27px;
    color:white;
    font-family: "Merriweather", serif;
    font-style: bold;
    font-size: 28px;
    margin-right: 200px;  
}
#nav-links {
    position: inherit;
    right: 6%;
    display: flex;
    font-size: 14px;
    gap: 5px;
}
    #nav-links a {
        font-family: "Bad Script", serif;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

}
 